.App {
  background-color: #F7ECDE;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #AAA492;
  text-align: center;
}

